# Naive data tpot

In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import copy
from Modules import *
sns.set()
%matplotlib inline
import tpot

C:\Users\brown\Anaconda3\lib\site-packages\deap\tools\_hypervolume\pyhv.py:33: ImportWarning: Falling back to the python version of hypervolume module. Expect this to be very slow.
  "module. Expect this to be very slow.", ImportWarning)
C:\Users\brown\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\brown\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\brown\Anaconda3\lib\importlib\_bootstrap_external.py:426: ImportWarning: Not importing directory C:\Users\brown\Anaconda3\lib\site-packages\mpl_toolkits: missing __init__
  _warnings.warn(msg.format(portions[0]), ImportWarning)
C:\Users\brown\Anaconda3\lib\importlib\_bootstrap_external.py:426: ImportWarning: Not importing directory c:\users\brown\anaconda3\lib\site-packages\mpl_toolkits: missing __init__
  _warnings.warn(msg.format(portions[0]), ImportWarning)

In [2]:
df, y = read_data('../default_of_credit_card_clients.xls')
df = proc_cat_df(df)


df.head().T

                               1       2      3      4      5
LIMIT_BAL                  20000  120000  90000  50000  50000
AGE                           24      26     34     37     57
PAY_1                          2      -1      0      0     -1
PAY_2                          2       2      0      0      0
PAY_3                         -1       0      0      0     -1
PAY_4                         -1       0      0      0      0
PAY_5                         -2       0      0      0      0
PAY_6                         -2       2      0      0      0
BILL_AMT1                   3913    2682  29239  46990   8617
BILL_AMT2                   3102    1725  14027  48233   5670
BILL_AMT3                    689    2682  13559  49291  35835
BILL_AMT4                      0    3272  14331  28314  20940
BILL_AMT5                      0    3455  14948  28959  19146
BILL_AMT6                      0    3261  15549  29547  19131
PAY_AMT1                       0       0   1518   2000   2000
PAY_AMT2                     689    1000   1500   2019  36681
PAY_AMT3                       0    1000   1000   1200  10000
PAY_AMT4                       0    1000   1000   1100   9000
PAY_AMT5                       0       0   1000   1069    689
PAY_AMT6                       0    2000   5000   1000    679
Y                              1       1      0      0      0
SEX_Female                     1       1      1      1      0
SEX_Male                       0       0      0      0      1
EDUCATION_Graduate School      0       0      0      0      0
EDUCATION_Other                0       0      0      0      0
EDUCATION_University           1       1      1      1      1
MARRIAGE_Married               1       0      0      1      1
MARRIAGE_Non-married           0       1      1      0      0

In [3]:
from sklearn.model_selection import train_test_split
X = df.drop(columns = 'Y')


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2019, train_size = .75)

C:\Users\brown\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [4]:
X_train.shape

(22500, 27)

In [5]:
from tpot import TPOTClassifier

tpot = TPOTClassifier(verbosity = 2, max_time_mins=360, max_eval_time_mins=6, scoring = "f1", random_state=2019)

tpot.fit(X.values, y.values)

C:\Users\brown\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

HBox(children=(IntProgress(value=0, description='Optimization Progress', style=ProgressStyle(description_width…

Generation 1 - Current best internal CV score: 0.5282929437704766
Generation 2 - Current best internal CV score: 0.5284319838987802

360.0312927833333 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: BernoulliNB(LogisticRegression(DecisionTreeClassifier(input_matrix, criterion=gini, max_depth=6, min_samples_leaf=4, min_samples_split=3), C=0.001, dual=False, penalty=l2), alpha=1.0, fit_prior=False)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=1000000,
        max_eval_time_mins=6, max_time_mins=360, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=100,
        random_state=2019, scoring='f1', subsample=1.0,
        template='RandomTree', use_dask=False, verbosity=2,
        warm_start=False)

In [6]:
tpot.score(X_test.values, y_test.values)

0.5291313559322033

In [7]:
tpot.export('tpot_Naive_Example2_pipeline.py')

## hyperparamters for two datasets:

- generations: Number of iterations to the run pipeline optimization process. The default is 100.
- population_size: Number of individuals to retain in the genetic programming population every generation. The default is 100.
- offspring_size: Number of offspring to produce in each genetic programming generation. The default is 100.
- mutation_rate: Mutation rate for the genetic programming algorithm in the range [0.0, 1.0]. This parameter tells the GP algorithm how many pipelines to apply random changes to every generation. Default is 0.9
- crossover_rate: Crossover rate for the genetic programming algorithm in the range [0.0, 1.0]. This parameter tells the genetic programming algorithm how many pipelines to "breed" every generation.
- scoring: Function used to evaluate the quality of a given pipeline for the classification problem like accuracy, average_precision, roc_auc, recall, etc. The default is accuracy.
- cv: Cross-validation strategy used when evaluating pipelines. The default is 5.
- random_state: The seed of the pseudo-random number generator used in TPOT. Use this parameter to make sure that TPOT will give you the same results each time you run it against the same data set with that seed.

Of these to change: we will use scoring = 'f1', random_state = 2019. Verbosity = 2, Max_time_mins = 360, max_eval_time_mins = 6, All else is the default.

Good luck!