## Initial EDA

Here we will load in the data and first look at our target variable

In [2]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [3]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [4]:
df = pd.read_excel('../default_of_credit_card_clients.xls', header=0)

df.columns = df.iloc[0,:]

df.rename(index=str, columns={"default payment next month": "Y"}, inplace=True)

df.drop('ID', inplace=True, axis=0)
X = df[:-1]
y = df.Y

df.head()

ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Y
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
LIMIT_BAL    30000 non-null object
SEX          30000 non-null object
EDUCATION    30000 non-null object
MARRIAGE     30000 non-null object
AGE          30000 non-null object
PAY_0        30000 non-null object
PAY_2        30000 non-null object
PAY_3        30000 non-null object
PAY_4        30000 non-null object
PAY_5        30000 non-null object
PAY_6        30000 non-null object
BILL_AMT1    30000 non-null object
BILL_AMT2    30000 non-null object
BILL_AMT3    30000 non-null object
BILL_AMT4    30000 non-null object
BILL_AMT5    30000 non-null object
BILL_AMT6    30000 non-null object
PAY_AMT1     30000 non-null object
PAY_AMT2     30000 non-null object
PAY_AMT3     30000 non-null object
PAY_AMT4     30000 non-null object
PAY_AMT5     30000 non-null object
PAY_AMT6     30000 non-null object
Y            30000 non-null object
dtypes: object(24)
memory usage: 5.7+ MB

In [6]:
#find out missing values
names = []
value = []
for col in df.columns:
    names.append(col)
    value.append(df[col].isnull().sum())
    print("number of missing values: ", names[-1], value[-1],"""     """, "Percentage of missing values:", names[-1], round((value[-1]/682)*100))

number of missing values:  LIMIT_BAL 0       Percentage of missing values: LIMIT_BAL 0.0
number of missing values:  SEX 0       Percentage of missing values: SEX 0.0
number of missing values:  EDUCATION 0       Percentage of missing values: EDUCATION 0.0
number of missing values:  MARRIAGE 0       Percentage of missing values: MARRIAGE 0.0
number of missing values:  AGE 0       Percentage of missing values: AGE 0.0
number of missing values:  PAY_0 0       Percentage of missing values: PAY_0 0.0
number of missing values:  PAY_2 0       Percentage of missing values: PAY_2 0.0
number of missing values:  PAY_3 0       Percentage of missing values: PAY_3 0.0
number of missing values:  PAY_4 0       Percentage of missing values: PAY_4 0.0
number of missing values:  PAY_5 0       Percentage of missing values: PAY_5 0.0
number of missing values:  PAY_6 0       Percentage of missing values: PAY_6 0.0
number of missing values:  BILL_AMT1 0       Percentage of missing values: BILL_AMT1 0.0
number of missing values:  BILL_AMT2 0       Percentage of missing values: BILL_AMT2 0.0
number of missing values:  BILL_AMT3 0       Percentage of missing values: BILL_AMT3 0.0
number of missing values:  BILL_AMT4 0       Percentage of missing values: BILL_AMT4 0.0
number of missing values:  BILL_AMT5 0       Percentage of missing values: BILL_AMT5 0.0
number of missing values:  BILL_AMT6 0       Percentage of missing values: BILL_AMT6 0.0
number of missing values:  PAY_AMT1 0       Percentage of missing values: PAY_AMT1 0.0
number of missing values:  PAY_AMT2 0       Percentage of missing values: PAY_AMT2 0.0
number of missing values:  PAY_AMT3 0       Percentage of missing values: PAY_AMT3 0.0
number of missing values:  PAY_AMT4 0       Percentage of missing values: PAY_AMT4 0.0
number of missing values:  PAY_AMT5 0       Percentage of missing values: PAY_AMT5 0.0
number of missing values:  PAY_AMT6 0       Percentage of missing values: PAY_AMT6 0.0
number of missing values:  Y 0       Percentage of missing values: Y 0.0

Since every column is an object, we'll have to convert them to a numeric type. We'll use the data dictionary from UCI Machine Learning Repository website as a preliminary data dictionary to guide us.

From the UCI Machine Learning Repository website:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: 
- X1 (LIMIT_BIL): Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
- X2 (SEX): (1 = male; 2 = female). 
- X3 (EDUCATION): (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
- X4 (MARITAL STATUS): (1 = married; 2 = single; 3 = others). 
- X5 (AGE): (year). 
- X6 - X11 (PAY_0 : PAY_6): History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
- X12-X17 (BILL_AMT1 : BILL_AMT6): Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. 
- X18-X23 (PAY_AMT1 : PAY_AMT6): Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.
- Y: Made a default payment (Yes = 1, No = 0)

All of these columns should be columns should be numeric, so let's convert it all to numeric

In [6]:
df = df.astype('float32')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
LIMIT_BAL    30000 non-null float32
SEX          30000 non-null float32
EDUCATION    30000 non-null float32
MARRIAGE     30000 non-null float32
AGE          30000 non-null float32
PAY_0        30000 non-null float32
PAY_2        30000 non-null float32
PAY_3        30000 non-null float32
PAY_4        30000 non-null float32
PAY_5        30000 non-null float32
PAY_6        30000 non-null float32
BILL_AMT1    30000 non-null float32
BILL_AMT2    30000 non-null float32
BILL_AMT3    30000 non-null float32
BILL_AMT4    30000 non-null float32
BILL_AMT5    30000 non-null float32
BILL_AMT6    30000 non-null float32
PAY_AMT1     30000 non-null float32
PAY_AMT2     30000 non-null float32
PAY_AMT3     30000 non-null float32
PAY_AMT4     30000 non-null float32
PAY_AMT5     30000 non-null float32
PAY_AMT6     30000 non-null float32
Y            30000 non-null float32
dtypes: float32(24)
memory usage: 3.0+ MB

In [8]:
# print the names of the 13 features
print("Features: ", X.features)

# print the label type of wine(class_0, class_1, class_2)
print("Labels: ", wine.target_names)

AttributeError: 'DataFrame' object has no attribute 'features'

In [12]:
df.shape

(30000, 24)