# Sequential data engineering from Kevin - Stuart's work
## Random Forrest

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import copy
from Modules import *
sns.set()
%matplotlib inline
import imblearn
import copy
from Modules import *
sns.set()
%matplotlib inline

In [2]:
df, y = read_data('../default_of_credit_card_clients.xls')
df = proc_cat_df(df)


df.head().T

                               1       2      3      4      5
LIMIT_BAL                  20000  120000  90000  50000  50000
AGE                           24      26     34     37     57
PAY_1                          2      -1      0      0     -1
PAY_2                          2       2      0      0      0
PAY_3                         -1       0      0      0     -1
PAY_4                         -1       0      0      0      0
PAY_5                         -2       0      0      0      0
PAY_6                         -2       2      0      0      0
BILL_AMT1                   3913    2682  29239  46990   8617
BILL_AMT2                   3102    1725  14027  48233   5670
BILL_AMT3                    689    2682  13559  49291  35835
BILL_AMT4                      0    3272  14331  28314  20940
BILL_AMT5                      0    3455  14948  28959  19146
BILL_AMT6                      0    3261  15549  29547  19131
PAY_AMT1                       0       0   1518   2000   2000
PAY_AMT2                     689    1000   1500   2019  36681
PAY_AMT3                       0    1000   1000   1200  10000
PAY_AMT4                       0    1000   1000   1100   9000
PAY_AMT5                       0       0   1000   1069    689
PAY_AMT6                       0    2000   5000   1000    679
Y                              1       1      0      0      0
SEX_Female                     1       1      1      1      0
SEX_Male                       0       0      0      0      1
EDUCATION_Graduate School      0       0      0      0      0
EDUCATION_Other                0       0      0      0      0
EDUCATION_University           1       1      1      1      1
MARRIAGE_Married               1       0      0      1      1
MARRIAGE_Non-married           0       1      1      0      0

## Sequential Data Feature Engineering

In the following code, we will engineer some new features based on the sequential information given in the PAY_AMT and BILL_AMT columns.

First, we calculate the amount of outstanding balance remaining for a client after he/she has payed a bill. This is simply the difference of a bill amount for a time period and the amount payed for that time period.

In [3]:
# created new feature OUTSTANDING_BAL for each period

df["OUTSTANDING_BAL1"] = (df.BILL_AMT1 - df.PAY_AMT1)
df["OUTSTANDING_BAL2"] = (df.BILL_AMT2 - df.PAY_AMT2)
df["OUTSTANDING_BAL3"] = (df.BILL_AMT3 - df.PAY_AMT3)
df["OUTSTANDING_BAL4"] = (df.BILL_AMT4 - df.PAY_AMT4)
df["OUTSTANDING_BAL5"] = (df.BILL_AMT5 - df.PAY_AMT5)
df["OUTSTANDING_BAL6"] = (df.BILL_AMT6 - df.PAY_AMT6)

Next, we'll create new logical variables; these will indicate whether the outstanding balance value has increased (1) or not (0) from the previous period.

In [4]:
#create logical variable: 
#if the outstanding balance for period t-1 is less than period t: 0
#if the outstanding balance for perriod t-1 is more than period t: 1

lst1 = ['OUTSTANDING_BAL1','OUTSTANDING_BAL2', 'OUTSTANDING_BAL3', 'OUTSTANDING_BAL4','OUTSTANDING_BAL5']
lst2 = ['OUTSTANDING_BAL2','OUTSTANDING_BAL3', 'OUTSTANDING_BAL4', 'OUTSTANDING_BAL5','OUTSTANDING_BAL6',]
for idx, (column1, column2) in enumerate(zip(lst1, lst2)):
    idx += 1
    df[f"OUSTANDING_BAL_{idx}_INDICATOR"] = np.where(df[column1] > df[column2], 1, 0)


#possible idea: do a ratio of how much your outstanding balance grew from t-1 to t ((new-old)/old)

Now, we'll do a similar process for the following: we'll calculate a ratio of how much a client's outstanding balance compares to his or her LIMIT_BAL of the account. Then we'll again create a logical variable indicating whether the balance of the current time period has increased (1) or not (0) from the previous time period.

In [5]:
#created new column %_LIMIT_BAL for each month
#oustanding balance of period t divided by LIMIT_BAL 
#how close is a client reaching that LIMIT_BAL limit?

df["PERCENT_OF_LIMIT_BAL1"] = (df.OUTSTANDING_BAL1 / df.LIMIT_BAL)
df["PERCENT_OF_LIMIT_BAL2"] = (df.OUTSTANDING_BAL2 / df.LIMIT_BAL)
df["PERCENT_OF_LIMIT_BAL3"] = (df.OUTSTANDING_BAL3 / df.LIMIT_BAL)
df["PERCENT_OF_LIMIT_BAL4"] = (df.OUTSTANDING_BAL4 / df.LIMIT_BAL)
df["PERCENT_OF_LIMIT_BAL5"] = (df.OUTSTANDING_BAL5 / df.LIMIT_BAL)
df["PERCENT_OF_LIMIT_BAL6"] = (df.OUTSTANDING_BAL6 / df.LIMIT_BAL)

In [6]:
#if the outstanding balance for period t-1 is less than period t: 0
#if the outstanding balance for perriod t-1 is more than period t: 1

lst1 = ['PERCENT_OF_LIMIT_BAL1', 'PERCENT_OF_LIMIT_BAL2', 'PERCENT_OF_LIMIT_BAL3', 'PERCENT_OF_LIMIT_BAL4', 'PERCENT_OF_LIMIT_BAL5']
lst2 = ['PERCENT_OF_LIMIT_BAL2', 'PERCENT_OF_LIMIT_BAL3', 'PERCENT_OF_LIMIT_BAL4', 'PERCENT_OF_LIMIT_BAL5', 'PERCENT_OF_LIMIT_BAL6']
for idx, (column1, column2) in enumerate(zip(lst1, lst2)):
    idx += 1
    df[f"PERCENT_OF_LIMIT_BAL_{idx}_INDICATOR"] = np.where(df[column1] > df[column2], 1, 0)

### what ratio of the bill are they paying?
### similar to oustanding balance, might have to choose

Here, we will calculate what percentage of the bill the client is paying off each time period. Then, we'll create a logical variable indicating whether the ratio of the current time period is increaseing (1) or not (0) compared to the previous time period.

In [7]:
#describe the percentage of the bill that clients are paying
#have to set if a bill amt is 0, will be the same as the previous time periods value
#therefore, have to initialize the the time period, t = 6 values first 

lst1 = ['BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6']
lst2 = ['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3','PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
for idx, (col1, col2) in enumerate(zip(lst1, lst2)):
    idx +=1
    df[f"PAY_RATIO_{idx}"] = np.where(df[col1] != 0, df[col2]/df[col1], 1)

In [8]:
#create the indicator
#if the ratio is increasing across the months we will give them a 1, 0 if is the same or decreasing.

df.loc[df["PAY_RATIO_1"] < df["PAY_RATIO_2"], 'PAY_RATIO_1_INDICATOR'] = (1*(5/5)) 
df.loc[df["PAY_RATIO_1"] >= df["PAY_RATIO_2"], 'PAY_RATIO_1_INDICATOR'] = 0 

df.loc[df["PAY_RATIO_2"] < df["PAY_RATIO_3"], 'PAY_RATIO_2_INDICATOR'] = (1*(4/5))
df.loc[df["PAY_RATIO_2"] >= df["PAY_RATIO_3"], 'PAY_RATIO_2_INDICATOR'] = 0

df.loc[df["PAY_RATIO_3"] < df["PAY_RATIO_4"], 'PAY_RATIO_3_INDICATOR'] = (1*(3/5))
df.loc[df["PAY_RATIO_3"] >= df["PAY_RATIO_4"], 'PAY_RATIO_3_INDICATOR'] = 0 

df.loc[df["PAY_RATIO_4"] < df["PAY_RATIO_5"], 'PAY_RATIO_4_INDICATOR'] = (1*(2/5)) 
df.loc[df["PAY_RATIO_4"] >= df["PAY_RATIO_5"], 'PAY_RATIO_4_INDICATOR'] = 0

df.loc[df["PAY_RATIO_5"] < df["PAY_RATIO_6"], 'PAY_RATIO_5_INDICATOR'] = (1*(1/5)) 
df.loc[df["PAY_RATIO_5"] >= df["PAY_RATIO_6"], 'PAY_RATIO_5_INDICATOR'] = 0

In [10]:
df.head().T

,1,2,3,4,5
LIMIT_BAL,20000.000000,120000.000000,90000.000000,50000.000000,50000.000000
AGE,24.000000,26.000000,34.000000,37.000000,57.000000
PAY_1,2.000000,-1.000000,0.000000,0.000000,-1.000000
PAY_2,2.000000,2.000000,0.000000,0.000000,0.000000
PAY_3,-1.000000,0.000000,0.000000,0.000000,-1.000000
PAY_4,-1.000000,0.000000,0.000000,0.000000,0.000000
PAY_5,-2.000000,0.000000,0.000000,0.000000,0.000000
PAY_6,-2.000000,2.000000,0.000000,0.000000,0.000000
BILL_AMT1,3913.000000,2682.000000,29239.000000,46990.000000,8617.000000
BILL_AMT2,3102.000000,1725.000000,14027.000000,48233.000000,5670.000000
BILL_AMT3,689.000000,2682.000000,13559.000000,49291.000000,35835.000000
BILL_AMT4,0.000000,3272.000000,14331.000000,28314.000000,20940.000000
BILL_AMT5,0.000000,3455.000000,14948.000000,28959.000000,19146.000000
BILL_AMT6,0.000000,3261.000000,15549.000000,29547.000000,19131.000000
PAY_AMT1,0.000000,0.000000,1518.000000,2000.000000,2000.000000
PAY_AMT2,689.000000,1000.000000,1500.000000,2019.000000,36681.000000
PAY_AMT3,0.000000,1000.000000,1000.000000,1200.000000,10000.000000
PAY_AMT4,0.000000,1000.000000,1000.000000,1100.000000,9000.000000
PAY_AMT5,0.000000,0.000000,1000.000000,1069.000000,689.000000
PAY_AMT6,0.000000,2000.000000,5000.000000,1000.000000,679.000000
Y,1.000000,1.000000,0.000000,0.000000,0.000000
SEX_Female,1.000000,1.000000,1.000000,1.000000,0.000000
SEX_Male,0.000000,0.000000,0.000000,0.000000,1.000000
EDUCATION_Graduate School,0.000000,0.000000,0.000000,0.000000,0.000000
EDUCATION_Other,0.000000,0.000000,0.000000,0.000000,0.000000
EDUCATION_University,1.000000,1.000000,1.000000,1.000000,1.000000
MARRIAGE_Married,1.000000,0.000000,0.000000,1.000000,1.000000
MARRIAGE_Non-married,0.000000,1.000000,1.000000,0.000000,0.000000
OUTSTANDING_BAL1,3913.000000,2682.000000,27721.000000,44990.000000,6617.000000
OUTSTANDING_BAL2,2413.000000,725.000000,12527.000000,46214.000000,-31011.000000
...,...,...,...,...,...
OUTSTANDING_BAL4,0.000000,2272.000000,13331.000000,27214.000000,11940.000000
OUTSTANDING_BAL5,0.000000,3455.000000,13948.000000,27890.000000,18457.000000
OUTSTANDING_BAL6,0.000000,1261.000000,10549.000000,28547.000000,18452.000000
OUSTANDING_BAL_1_INDICATOR,1.000000,1.000000,1.000000,0.000000,1.000000
OUSTANDING_BAL_2_INDICATOR,1.000000,0.000000,0.000000,0.000000,0.000000
OUSTANDING_BAL_3_INDICATOR,1.000000,0.000000,0.000000,1.000000,1.000000
OUSTANDING_BAL_4_INDICATOR,0.000000,0.000000,0.000000,0.000000,0.000000
OUSTANDING_BAL_5_INDICATOR,0.000000,1.000000,1.000000,0.000000,1.000000
PERCENT_OF_LIMIT_BAL1,0.195650,0.022350,0.308011,0.899800,0.132340
PERCENT_OF_LIMIT_BAL2,0.120650,0.006042,0.139189,0.924280,-0.620220
PERCENT_OF_LIMIT_BAL3,0.034450,0.014017,0.139544,0.961820,0.516700
PERCENT_OF_LIMIT_BAL4,0.000000,0.018933,0.148122,0.544280,0.238800
PERCENT_OF_LIMIT_BAL5,0.000000,0.028792,0.154978,0.557800,0.369140
PERCENT_OF_LIMIT_BAL6,0.000000,0.010508,0.117211,0.570940,0.369040
PERCENT_OF_LIMIT_BAL_1_INDICATOR,1.000000,1.000000,1.000000,0.000000,1.000000
PERCENT_OF_LIMIT_BAL_2_INDICATOR,1.000000,0.000000,0.000000,0.000000,0.000000
PERCENT_OF_LIMIT_BAL_3_INDICATOR,1.000000,0.000000,0.000000,1.000000,1.000000
PERCENT_OF_LIMIT_BAL_4_INDICATOR,0.000000,0.000000,0.000000,0.000000,0.000000
PERCENT_OF_LIMIT_BAL_5_INDICATOR,0.000000,1.000000,1.000000,0.000000,1.000000
PAY_RATIO_1,0.000000,0.000000,0.051917,0.042562,0.232099
PAY_RATIO_2,0.222115,0.579710,0.106937,0.041859,6.469312
PAY_RATIO_3,0.000000,0.372856,0.073752,0.024345,0.279057
PAY_RATIO_4,1.000000,0.305623,0.069779,0.038850,0.429799
PAY_RATIO_5,1.000000,0.000000,0.066899,0.036914,0.035987
PAY_RATIO_6,1.000000,0.613309,0.321564,0.033844,0.035492
PAY_RATIO_1_INDICATOR,1.000000,1.000000,1.000000,0.000000,1.000000
PAY_RATIO_2_INDICATOR,0.000000,0.000000,0.000000,0.000000,0.000000
PAY_RATIO_3_INDICATOR,0.600000,0.000000,0.000000,0.600000,0.600000
PAY_RATIO_4_INDICATOR,0.000000,0.000000,0.000000,0.000000,0.000000
PAY_RATIO_5_INDICATOR,0.000000,0.200000,0.200000,0.000000,0.000000

In [11]:
# put to a csv

df.to_csv('sequential_data.csv')

In [14]:
df.columns

Index(['LIMIT_BAL', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Y', 'SEX_Female', 'SEX_Male',
       'EDUCATION_Graduate School', 'EDUCATION_Other', 'EDUCATION_University',
       'MARRIAGE_Married', 'MARRIAGE_Non-married', 'OUTSTANDING_BAL1',
       'OUTSTANDING_BAL2', 'OUTSTANDING_BAL3', 'OUTSTANDING_BAL4',
       'OUTSTANDING_BAL5', 'OUTSTANDING_BAL6', 'OUSTANDING_BAL_1_INDICATOR',
       'OUSTANDING_BAL_2_INDICATOR', 'OUSTANDING_BAL_3_INDICATOR',
       'OUSTANDING_BAL_4_INDICATOR', 'OUSTANDING_BAL_5_INDICATOR',
       'PERCENT_OF_LIMIT_BAL1', 'PERCENT_OF_LIMIT_BAL2',
       'PERCENT_OF_LIMIT_BAL3', 'PERCENT_OF_LIMIT_BAL4',
       'PERCENT_OF_LIMIT_BAL5', 'PERCENT_OF_LIMIT_BAL6',
       'PERCENT_OF_LIMIT_BAL_1_INDICATOR', 'PERCENT_OF_LIMIT_BAL_2_INDICATOR',
       'PERCENT_OF_LIMIT_BAL_3_INDICATOR', 'PERCENT_OF_LIMIT_BAL_4_INDICATOR',
       'PERCENT_OF_LIMIT_BAL_5_INDICATOR', 'PAY_RATIO_1', 'PAY_RATIO_2',
       'PAY_RATIO_3', 'PAY_RATIO_4', 'PAY_RATIO_5', 'PAY_RATIO_6',
       'PAY_RATIO_1_INDICATOR', 'PAY_RATIO_2_INDICATOR',
       'PAY_RATIO_3_INDICATOR', 'PAY_RATIO_4_INDICATOR',
       'PAY_RATIO_5_INDICATOR'],
      dtype='object')

In [15]:
#split my data
X = df.drop(columns = 'Y')
y = df['Y']

In [16]:
#split into training and testing

from sklearn.model_selection import train_test_split, KFold, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 2019, test_size = .2)

In [19]:
from imblearn.over_sampling import SMOTE

#create my oversampled data to train on
oversampler = SMOTE(random_state = 2019)
X_train_oversampled, y_train_oversampled = oversampler.fit_resample(X_train, y_train)

In [21]:
#Put the oversampled data back into a dataframe
X_train_oversampled = pd.DataFrame(X_train_oversampled, columns = X_train.columns)
y_train_oversampled = pd.Series(y_train_oversampled)

In [23]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf = RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train_oversampled,y_train_oversampled)

y_pred = clf.predict(X_test)

In [24]:
#Use 5-fold cross validation to see how well the classfier you built is doing on test data.

kfold = KFold(n_splits=5, random_state=2019)
results = cross_val_score(clf, X_test, y_test, cv=kfold, scoring = 'f1')

print(f"5-fold cross-validation results: {np.mean(results)}")

5-fold cross-validation results: 0.45425489282288306

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.93      0.89      4710
           1       0.62      0.41      0.49      1290

   micro avg       0.82      0.82      0.82      6000
   macro avg       0.74      0.67      0.69      6000
weighted avg       0.80      0.82      0.81      6000