In [1]:
# Dependencies

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
plt.style.use('ggplot')
%matplotlib inline

# Load libraries

from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [13]:
df = pd.read_excel('../default_of_credit_card_clients.xls', header=0)

df.columns = df.iloc[0,:]

df.rename(index=str, columns={"default payment next month": "Y"}, inplace=True)

df.drop('ID', inplace=True, axis=0)

#y = df.Y

#df.head()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
LIMIT_BAL    30000 non-null float32
SEX          30000 non-null float32
EDUCATION    30000 non-null float32
MARRIAGE     30000 non-null float32
AGE          30000 non-null float32
PAY_0        30000 non-null float32
PAY_2        30000 non-null float32
PAY_3        30000 non-null float32
PAY_4        30000 non-null float32
PAY_5        30000 non-null float32
PAY_6        30000 non-null float32
BILL_AMT1    30000 non-null float32
BILL_AMT2    30000 non-null float32
BILL_AMT3    30000 non-null float32
BILL_AMT4    30000 non-null float32
BILL_AMT5    30000 non-null float32
BILL_AMT6    30000 non-null float32
PAY_AMT1     30000 non-null float32
PAY_AMT2     30000 non-null float32
PAY_AMT3     30000 non-null float32
PAY_AMT4     30000 non-null float32
PAY_AMT5     30000 non-null float32
PAY_AMT6     30000 non-null float32
Y            30000 non-null float32
dtypes: float32(24)
memory usage: 3.0+ MB

In [19]:
#df = df.astype('float32')

In [20]:
#df.info()

In [21]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Y'],
      dtype='object', name='ID')

In [22]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
#X = df.drop(columns="Y")
#y = df.Y

In [23]:
# created new column OUTSTANDING_BAL for each month

df["OUTSTANDING_BAL1"] = (df.BILL_AMT1 - df.PAY_AMT1)
df["OUTSTANDING_BAL2"] = (df.BILL_AMT2 - df.PAY_AMT2)
df["OUTSTANDING_BAL3"] = (df.BILL_AMT3 - df.PAY_AMT3)
df["OUTSTANDING_BAL4"] = (df.BILL_AMT4 - df.PAY_AMT4)
df["OUTSTANDING_BAL5"] = (df.BILL_AMT5 - df.PAY_AMT5)
df["OUTSTANDING_BAL6"] = (df.BILL_AMT6 - df.PAY_AMT6)

df.head(5)

ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,Y,OUTSTANDING_BAL1,OUTSTANDING_BAL2,OUTSTANDING_BAL3,OUTSTANDING_BAL4,OUTSTANDING_BAL5,OUTSTANDING_BAL6
1,20000.0,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,1.0,3913.0,2413.0,689.0,0.0,0.0,0.0
2,120000.0,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,1000.0,0.0,2000.0,1.0,2682.0,725.0,1682.0,2272.0,3455.0,1261.0
3,90000.0,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,1000.0,1000.0,5000.0,0.0,27721.0,12527.0,12559.0,13331.0,13948.0,10549.0
4,50000.0,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,1100.0,1069.0,1000.0,0.0,44990.0,46214.0,48091.0,27214.0,27890.0,28547.0
5,50000.0,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,9000.0,689.0,679.0,0.0,6617.0,-31011.0,25835.0,11940.0,18457.0,18452.0

In [24]:
# created new column %_LIMIT_BAL for each month

df["%_LIMIT_BAL1"] = (df.OUTSTANDING_BAL1 / df.LIMIT_BAL)
df["%_LIMIT_BAL2"] = (df.OUTSTANDING_BAL2 / df.LIMIT_BAL)
df["%_LIMIT_BAL3"] = (df.OUTSTANDING_BAL3 / df.LIMIT_BAL)
df["%_LIMIT_BAL4"] = (df.OUTSTANDING_BAL4 / df.LIMIT_BAL)
df["%_LIMIT_BAL5"] = (df.OUTSTANDING_BAL5 / df.LIMIT_BAL)
df["%_LIMIT_BAL6"] = (df.OUTSTANDING_BAL6 / df.LIMIT_BAL)


df.head(5)

ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,OUTSTANDING_BAL3,OUTSTANDING_BAL4,OUTSTANDING_BAL5,OUTSTANDING_BAL6,%_LIMIT_BAL1,%_LIMIT_BAL2,%_LIMIT_BAL3,%_LIMIT_BAL4,%_LIMIT_BAL5,%_LIMIT_BAL6
1,20000.0,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,689.0,0.0,0.0,0.0,0.195650,0.120650,0.034450,0.000000,0.000000,0.000000
2,120000.0,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,1682.0,2272.0,3455.0,1261.0,0.022350,0.006042,0.014017,0.018933,0.028792,0.010508
3,90000.0,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,12559.0,13331.0,13948.0,10549.0,0.308011,0.139189,0.139544,0.148122,0.154978,0.117211
4,50000.0,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,48091.0,27214.0,27890.0,28547.0,0.899800,0.924280,0.961820,0.544280,0.557800,0.570940
5,50000.0,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,25835.0,11940.0,18457.0,18452.0,0.132340,-0.620220,0.516700,0.238800,0.369140,0.369040

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 36 columns):
LIMIT_BAL           30000 non-null float32
SEX                 30000 non-null float32
EDUCATION           30000 non-null float32
MARRIAGE            30000 non-null float32
AGE                 30000 non-null float32
PAY_0               30000 non-null float32
PAY_2               30000 non-null float32
PAY_3               30000 non-null float32
PAY_4               30000 non-null float32
PAY_5               30000 non-null float32
PAY_6               30000 non-null float32
BILL_AMT1           30000 non-null float32
BILL_AMT2           30000 non-null float32
BILL_AMT3           30000 non-null float32
BILL_AMT4           30000 non-null float32
BILL_AMT5           30000 non-null float32
BILL_AMT6           30000 non-null float32
PAY_AMT1            30000 non-null float32
PAY_AMT2            30000 non-null float32
PAY_AMT3            30000 non-null float32
PAY_AMT4            30000 non-null float32
PAY_AMT5            30000 non-null float32
PAY_AMT6            30000 non-null float32
Y                   30000 non-null float32
OUTSTANDING_BAL1    30000 non-null float32
OUTSTANDING_BAL2    30000 non-null float32
OUTSTANDING_BAL3    30000 non-null float32
OUTSTANDING_BAL4    30000 non-null float32
OUTSTANDING_BAL5    30000 non-null float32
OUTSTANDING_BAL6    30000 non-null float32
%_LIMIT_BAL1        30000 non-null float32
%_LIMIT_BAL2        30000 non-null float32
%_LIMIT_BAL3        30000 non-null float32
%_LIMIT_BAL4        30000 non-null float32
%_LIMIT_BAL5        30000 non-null float32
%_LIMIT_BAL6        30000 non-null float32
dtypes: float32(36)
memory usage: 4.3+ MB

In [11]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
#X = df.drop(columns="Y")
#y = df.Y

# divided columns into two types of variables - target variable (y) and feature variables (X).
# X = df.drop(columns=["PAY_0","PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6", "Y"])
# y = df.Y

In [26]:
# Split dataset into training set and test set
# 70% training and 30% test

df_train, df_test = train_test_split(df, test_size=0.3, random_state=2019) 
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

In [27]:
print("***** df_train *****")
print(df_train.head())
print("\n")
print("***** df_test *****")
print(df_test.head())

***** df_train *****
ID     LIMIT_BAL  SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
20748   360000.0  1.0        2.0       1.0  36.0   -2.0   -2.0   -2.0   -2.0
22071   100000.0  2.0        2.0       2.0  23.0    0.0    0.0    0.0    0.0
3439    200000.0  2.0        1.0       1.0  34.0   -1.0   -1.0   -1.0   -1.0
21757   270000.0  2.0        2.0       1.0  25.0    0.0    0.0    0.0    0.0
7796    500000.0  2.0        1.0       1.0  38.0    0.0    0.0    0.0    2.0

ID     PAY_5      ...       OUTSTANDING_BAL3  OUTSTANDING_BAL4  \
20748   -2.0      ...                 4884.0             -98.0
22071    0.0      ...                17126.0           19225.0
3439     0.0      ...                 9041.0           12088.0
21757    0.0      ...               165153.0          151710.0
7796    -1.0      ...                48785.0           -3095.0

ID     OUTSTANDING_BAL5  OUTSTANDING_BAL6  %_LIMIT_BAL1  %_LIMIT_BAL2  \
20748           -1744.0            -311.0      0.010394     -0.012436
22071           14299.0           20056.0     -0.119290      0.239000
3439             8349.0          -15994.0      0.011780     -0.100335
21757          146462.0          149450.0      0.661107      0.638930
7796             7659.0           -6577.0      0.069544      0.142220

ID     %_LIMIT_BAL3  %_LIMIT_BAL4  %_LIMIT_BAL5  %_LIMIT_BAL6
20748      0.013567     -0.000272     -0.004844     -0.000864
22071      0.171260      0.192250      0.142990      0.200560
3439       0.045205      0.060440      0.041745     -0.079970
21757      0.611678      0.561889      0.542452      0.553519
7796       0.097570     -0.006190      0.015318     -0.013154

[5 rows x 36 columns]


***** df_test *****
ID     LIMIT_BAL  SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
9707    100000.0  2.0        3.0       1.0  46.0    2.0    2.0    2.0    2.0
13035    80000.0  2.0        1.0       2.0  32.0    0.0    0.0    0.0    0.0
23848   230000.0  2.0        1.0       2.0  53.0   -2.0   -2.0   -2.0   -2.0
14913   330000.0  2.0        2.0       1.0  42.0   -2.0   -1.0    2.0    2.0
11360    90000.0  2.0        1.0       2.0  42.0    2.0    0.0    0.0    0.0

ID     PAY_5      ...       OUTSTANDING_BAL3  OUTSTANDING_BAL4  \
9707     2.0      ...                45027.0           47759.0
13035    0.0      ...                58233.0           59253.0
23848   -2.0      ...                    0.0            -596.0
14913   -2.0      ...                 2787.0             204.0
11360    0.0      ...                83302.0           64592.0

ID     OUTSTANDING_BAL5  OUTSTANDING_BAL6  %_LIMIT_BAL1  %_LIMIT_BAL2  \
9707            44865.0           43930.0      0.386740      0.439830
13035           59658.0           58904.0      0.719275      0.745188
23848           -4274.0            4870.0     -0.003226      0.003226
14913            -506.0             500.0     -0.046830      0.024918
11360           66518.0           65428.0      0.942733      0.916389

ID     %_LIMIT_BAL3  %_LIMIT_BAL4  %_LIMIT_BAL5  %_LIMIT_BAL6
9707       0.450270      0.477590      0.448650      0.439300
13035      0.727912      0.740663      0.745725      0.736300
23848      0.000000     -0.002591     -0.018583      0.021174
14913      0.008445      0.000618     -0.001533      0.001515
11360      0.925578      0.717689      0.739089      0.726978

[5 rows x 36 columns]

In [28]:
# For the train set
df_train.isna().head()

ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,OUTSTANDING_BAL3,OUTSTANDING_BAL4,OUTSTANDING_BAL5,OUTSTANDING_BAL6,%_LIMIT_BAL1,%_LIMIT_BAL2,%_LIMIT_BAL3,%_LIMIT_BAL4,%_LIMIT_BAL5,%_LIMIT_BAL6
20748,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22071,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3439,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21757,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7796,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [29]:
# For the test set
df_test.isna().head()

ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,OUTSTANDING_BAL3,OUTSTANDING_BAL4,OUTSTANDING_BAL5,OUTSTANDING_BAL6,%_LIMIT_BAL1,%_LIMIT_BAL2,%_LIMIT_BAL3,%_LIMIT_BAL4,%_LIMIT_BAL5,%_LIMIT_BAL6
9707,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13035,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23848,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14913,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11360,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [30]:
print("*****In the df_train set*****")
print(df_train.isna().sum())
print("\n")
print("*****In the df_test set*****")
print(df_test.isna().sum())

*****In the df_train set*****
ID
LIMIT_BAL           0
SEX                 0
EDUCATION           0
MARRIAGE            0
AGE                 0
PAY_0               0
PAY_2               0
PAY_3               0
PAY_4               0
PAY_5               0
PAY_6               0
BILL_AMT1           0
BILL_AMT2           0
BILL_AMT3           0
BILL_AMT4           0
BILL_AMT5           0
BILL_AMT6           0
PAY_AMT1            0
PAY_AMT2            0
PAY_AMT3            0
PAY_AMT4            0
PAY_AMT5            0
PAY_AMT6            0
Y                   0
OUTSTANDING_BAL1    0
OUTSTANDING_BAL2    0
OUTSTANDING_BAL3    0
OUTSTANDING_BAL4    0
OUTSTANDING_BAL5    0
OUTSTANDING_BAL6    0
%_LIMIT_BAL1        0
%_LIMIT_BAL2        0
%_LIMIT_BAL3        0
%_LIMIT_BAL4        0
%_LIMIT_BAL5        0
%_LIMIT_BAL6        0
dtype: int64


*****In the df_test set*****
ID
LIMIT_BAL           0
SEX                 0
EDUCATION           0
MARRIAGE            0
AGE                 0
PAY_0               0
PAY_2               0
PAY_3               0
PAY_4               0
PAY_5               0
PAY_6               0
BILL_AMT1           0
BILL_AMT2           0
BILL_AMT3           0
BILL_AMT4           0
BILL_AMT5           0
BILL_AMT6           0
PAY_AMT1            0
PAY_AMT2            0
PAY_AMT3            0
PAY_AMT4            0
PAY_AMT5            0
PAY_AMT6            0
Y                   0
OUTSTANDING_BAL1    0
OUTSTANDING_BAL2    0
OUTSTANDING_BAL3    0
OUTSTANDING_BAL4    0
OUTSTANDING_BAL5    0
OUTSTANDING_BAL6    0
%_LIMIT_BAL1        0
%_LIMIT_BAL2        0
%_LIMIT_BAL3        0
%_LIMIT_BAL4        0
%_LIMIT_BAL5        0
%_LIMIT_BAL6        0
dtype: int64

In [31]:
print("***** df_Train_Set *****")
print(df_train.describe())
print("\n")
print("***** df_Test_Set *****")
print(df_test.describe())

***** df_Train_Set *****
ID          LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE  \
count    21000.000000  21000.000000  21000.000000  21000.000000  21000.000000
mean    166933.796875      1.605952      1.859429      1.548190     35.518429
std     129517.500000      0.488657      0.794555      0.522243      9.262934
min      10000.000000      1.000000      0.000000      0.000000     21.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

ID            PAY_0         PAY_2         PAY_3         PAY_4         PAY_5  \
count  21000.000000  21000.000000  21000.000000  21000.000000  21000.000000
mean      -0.014857     -0.130810     -0.163190     -0.217857     -0.266810
std        1.124164      1.202678      1.204618      1.176793      1.139661
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      7.000000      8.000000      8.000000      8.000000

ID         ...       OUTSTANDING_BAL3  OUTSTANDING_BAL4  OUTSTANDING_BAL5  \
count      ...           21000.000000      21000.000000      21000.000000
mean       ...           41393.617188      38201.406250      35391.281250
std        ...           69075.414062      64540.898438      60857.203125
min        ...         -854641.000000    -667000.000000    -413122.000000
25%        ...             215.000000        178.500000          0.000000
50%        ...           17583.500000      16840.000000      15300.500000
75%        ...           54906.750000      49497.500000      46544.250000
max        ...          663643.000000     841586.000000     877171.000000

ID     OUTSTANDING_BAL6  %_LIMIT_BAL1  %_LIMIT_BAL2  %_LIMIT_BAL3  \
count      21000.000000  21000.000000  21000.000000  21000.000000
mean       33356.718750      0.378609      0.366835      0.353049
std        59948.117188      0.415030      0.409910      0.398127
min      -528466.000000     -2.235267     -3.055082     -2.882782
25%            0.000000      0.004267      0.001771      0.001193
50%        13711.000000      0.268493      0.254691      0.237420
75%        45354.750000      0.771808      0.746156      0.706704
max       911408.000000      6.234300      6.198000      5.235400

ID     %_LIMIT_BAL4  %_LIMIT_BAL5  %_LIMIT_BAL6
count  21000.000000  21000.000000  21000.000000
mean       0.323110      0.299135      0.283378
std        0.380092      0.356296      0.352972
min       -3.875800     -2.530600     -3.013530
25%        0.000933      0.000000      0.000000
50%        0.205327      0.181076      0.154222
75%        0.630404      0.568400      0.547607
max        4.986850      4.928000      3.785550

[8 rows x 36 columns]


***** df_Test_Set *****
ID         LIMIT_BAL          SEX    EDUCATION     MARRIAGE          AGE  \
count    9000.000000  9000.000000  9000.000000  9000.000000  9000.000000
mean   168768.875000     1.598556     1.838444     1.560444    35.408669
std    130281.289062     0.490218     0.780292     0.521258     9.112019
min     10000.000000     1.000000     0.000000     0.000000    21.000000
25%     50000.000000     1.000000     1.000000     1.000000    28.000000
50%    140000.000000     2.000000     2.000000     2.000000    34.000000
75%    240000.000000     2.000000     2.000000     2.000000    41.000000
max    800000.000000     2.000000     6.000000     3.000000    75.000000

ID           PAY_0        PAY_2        PAY_3        PAY_4        PAY_5  \
count  9000.000000  9000.000000  9000.000000  9000.000000  9000.000000
mean     -0.021000    -0.140667    -0.173222    -0.227222    -0.264778
std       1.123006     1.184310     1.178621     1.151118     1.117998
min      -2.000000    -2.000000    -2.000000    -2.000000    -2.000000
25%      -1.000000    -1.000000    -1.000000    -1.000000    -1.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       8.000000     8.000000     7.000000     8.000000     7.000000

ID         ...       OUTSTANDING_BAL3  OUTSTANDING_BAL4  OUTSTANDING_BAL5  \
count      ...           9.000000e+03       9000.000000       9000.000000
mean       ...           4.270647e+04      38986.304688      35793.726562
std        ...           6.980109e+04      63399.660156      59840.835938
min        ...          -3.709960e+05    -413122.000000    -414380.000000
25%        ...           3.385000e+02        338.750000          0.000000
50%        ...           1.818850e+04      17378.500000      16040.500000
75%        ...           5.889425e+04      52154.000000      48133.750000
max        ...           1.542258e+06     556792.000000     489200.000000

ID     OUTSTANDING_BAL6  %_LIMIT_BAL1  %_LIMIT_BAL2  %_LIMIT_BAL3  \
count       9000.000000   9000.000000   9000.000000   9000.000000
mean       34355.179688      0.378876      0.366034      0.355930
std        60620.304688      0.414386      0.433329      0.410104
min      -684896.000000     -2.664750    -12.809137     -2.241767
25%            0.000000      0.003993      0.001893      0.001859
50%        14487.000000      0.275079      0.258549      0.244448
75%        47546.750000      0.771400      0.752391      0.713997
max       679638.000000      3.732100      3.411100     10.680675

ID     %_LIMIT_BAL4  %_LIMIT_BAL5  %_LIMIT_BAL6
count   9000.000000   9000.000000   9000.000000
mean       0.325745      0.297318      0.282611
std        0.371254      0.350567      0.354769
min       -3.086000     -1.594667     -2.446057
25%        0.001785      0.000000      0.000000
50%        0.215957      0.186427      0.155219
75%        0.627149      0.568953      0.554695
max        2.206900      2.324300      2.378950

[8 rows x 36 columns]

In [32]:
print(df_train.columns.values)

['LIMIT_BAL' 'SEX' 'EDUCATION' 'MARRIAGE' 'AGE' 'PAY_0' 'PAY_2' 'PAY_3'
 'PAY_4' 'PAY_5' 'PAY_6' 'BILL_AMT1' 'BILL_AMT2' 'BILL_AMT3' 'BILL_AMT4'
 'BILL_AMT5' 'BILL_AMT6' 'PAY_AMT1' 'PAY_AMT2' 'PAY_AMT3' 'PAY_AMT4'
 'PAY_AMT5' 'PAY_AMT6' 'Y' 'OUTSTANDING_BAL1' 'OUTSTANDING_BAL2'
 'OUTSTANDING_BAL3' 'OUTSTANDING_BAL4' 'OUTSTANDING_BAL5'
 'OUTSTANDING_BAL6' '%_LIMIT_BAL1' '%_LIMIT_BAL2' '%_LIMIT_BAL3'
 '%_LIMIT_BAL4' '%_LIMIT_BAL5' '%_LIMIT_BAL6']

In [38]:
#define bins
bins =[0,5000,10000,15000,20000,25000,30000,35000,40000,45000,50000,55000,60000,65000,70000,75000,80000,85000,90000,95000,100000]
#names
group_names=['', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6']

df["Bins"] = pd.cut(df["BILL_AMT1"],bins,labels= group_names)

ValueError: Bin labels must be one fewer than the number of bin edges

In [35]:

df_train[["BILL_AMT1", "Y"]].groupby(['BILL_AMT1'], as_index=False).mean().sort_values(by='Y', ascending=False)

ID     BILL_AMT1    Y
4759     13668.0  1.0
12836    90599.0  1.0
5081     15208.0  1.0
12826    90322.0  1.0
12827    90371.0  1.0
5076     15191.0  1.0
5075     15189.0  1.0
12830    90462.0  1.0
12831    90467.0  1.0
5064     15127.0  1.0
12821    90231.0  1.0
5061     15116.0  1.0
5056     15089.0  1.0
5054     15070.0  1.0
5052     15068.0  1.0
5045     15043.0  1.0
5043     15037.0  1.0
12853    90939.0  1.0
12823    90289.0  1.0
12820    90221.0  1.0
5033     15004.0  1.0
5111     15323.0  1.0
5126     15399.0  1.0
5125     15397.0  1.0
5124     15389.0  1.0
5122     15383.0  1.0
5119     15376.0  1.0
5118     15361.0  1.0
5114     15335.0  1.0
5105     15307.0  1.0
...          ...  ...
6441     21371.0  0.0
6442     21372.0  0.0
6413     21151.0  0.0
6412     21149.0  0.0
6409     21128.0  0.0
6407     21116.0  0.0
6375     20938.0  0.0
6376     20944.0  0.0
6377     20950.0  0.0
6378     20952.0  0.0
6380     20959.0  0.0
6381     20976.0  0.0
6382     20983.0  0.0
6383     20984.0  0.0
6384     20985.0  0.0
6386     21001.0  0.0
6389     21006.0  0.0
6390     21007.0  0.0
6391     21008.0  0.0
6392     21012.0  0.0
6393     21019.0  0.0
6398     21043.0  0.0
6399     21047.0  0.0
6400     21054.0  0.0
6401     21057.0  0.0
6402     21068.0  0.0
6403     21072.0  0.0
6405     21092.0  0.0
6406     21111.0  0.0
16601   964511.0  0.0

[16602 rows x 2 columns]